header {
    background-color: $colour-grey;
    background-blend-mode: soft-light;
    background-image: url(../../../img/img-header.PNG);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-bottom: 40px;
}
header > a {
    
}
.nav_profil {
    grid-area: nav_profil;
}
.nav_compet {
    grid-area: nav_compet;
}
.nav_log {
    grid-area: nav_log;
}
.nav_exp {
    grid-area: nav_exp;
}
nav {
    display: grid;
    grid-template-columns: repeat(7), 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nav_profil nav_compet nav_log nav_exp"
    ;
    
}